<section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
           <h3><%= @product.name %><h3>
          <h3><%= @product.price %></h3>
          <h5><%= @product.description %></h5>
         </div>
    </div>
  </div>
</section>
